label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}



/*body{*/
/*  background-position: center;*/
/*    background-size: cover;*/
/*    background-image: url("https://campaign-social.ford.com/content/campaign/ford-steam/programs/KodeWithKlossy/_jcr_content/heading-par/image.img.png/1491228122082.png");*/
/*    min-height: 57.5%;*/
/*}*/


.footer {
  text-align: center;
  position: fixed;
  margin-top: 30px;
  margin-bottom: 0;
}

#submitbutton{
    border-radius: 5px;
    border: 0;
    width: 100px;
    height:50px;
    font: Lato;
    background-color: black;
    /* Old browsers */
/*    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);*/
    /* FF3.6+ */
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));*/
    /* Chrome,Safari4+ */
/*    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);*/
    /* Chrome10+,Safari5.1+ */
/*    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);*/
    /* Opera 11.10+ */
/*    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);*/
    /* IE10+ */
/*    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);*/
    /* W3C */
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);*/
    /* IE6-9 */
}